/*Adding a new font*/
@font-face {
    src: url(../fonts/JuliusSansOne-Regular.ttf);
    font-family: Julius;
}
/* Navigation bar / background color */
.Navbar_top {
    background-color: rgba(0, 0, 0, 0.886);
    overflow: hidden;
    font-family: Julius;
}

/* Sorting logo at left*/
.Navbar_top a{
    float: left;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 19px;
}
/* Sorting buttons at right*/
.Navbar_top-right{
    float: right;
    
}
/* Mouse over navigation bar */
.Navbar_top a:hover{
    background-color: rgba(228, 228, 228, 0.958);
    color: black;
}
/*Adding a background image */
body {
    background-image: url("../images/Boat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* Changing the header's font */
header {
    font-family: Julius;
}